<h4>
    <%= obj["NAME"] %>    
</h4>             
<p>
    <% if (obj["COUNTRY"]) { %>
        Location: <%= obj["COUNTRY"] %><br />
    <% } %>

</p>

<% if (obj["POWER_MW"]) { %>
    <p>
        <strong>POWER (MW)</strong><br />
        <%= obj["POWER_MW"] %>
    </p>
<% } %>

<% if (obj["N_TURBINES"]) { %>
    <p>
        <strong>NO. TURBINES</strong><br />
        <%= obj["N_TURBINES"] %>
    </p>
<% } %>

<% if (obj["YEAR"]) { %>
    <p>
        <strong>YEAR</strong><br />
        <%= obj["YEAR"] %>
    </p>
<% } %>
