<tr>                  
    <td>
        <%= obj["NAME"] %>
    </td>                  
    <td>
        <%= obj["COUNTRY"] %><br />
        (<a href='https://www.google.com/maps?q=<%= obj["LATITUDE"] %>,<%= obj["LONGITUDE"] %>' target='_blank'>View on map</a>)
    </td> 
    <td>
        <%= obj["NO. TURBINES"] %>
    </td>                 
    <td>
        <%= obj["POWER (MW)"] %>
    </td>
</tr>